/* stile di base della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame {
    max-width: 1280px;
    margin: 15px auto;
}

/* header */
.banner {
    background-color: rgb(229, 121, 230);
    height: 140px;
}

.img {
    background-color: rgb(225, 214, 122);
    height: 400px;
    margin: 20px 0px;
}

/* main */
.article {
    background-color: rgb(1, 134, 255);
    height: 600px;
}

.top {
    background-color: rgb(171, 207, 231);
    height: 80px;
}

.columns {
    height: calc(100% - 100px);
    padding-top: 20px;
}

.columns::after {
    content: "";
    display: table;
    clear: both;
}

.left, .middle, .right {
    float: left;
    height: 100%;
    background-color: rgb(171, 207, 231);
}

.left, .right {
    width: 20%;
}

.middle {
    width: calc(60% - 40px);
    margin: 0px 20px;
}

.credits {
    margin-top: 15px;
    height: 70px;
    background-color: rgb(136, 1, 254);
}