/* stile di base della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame {
    max-width: 1280px;
    height: 200vh;
    margin: 20px auto;
}

/* header */
.banner {
    background-color: rgb(229, 121, 230);
    height: 160px;
}

.img {
    background-color: rgb(225, 214, 122);
    height: 440px;
    margin-top: 30px;
}

/* main */
.article {
    margin-top: 30px;
    background-color: rgb(1, 134, 255);
    height: 600px;
}

.top {
    background-color: rgb(171, 207, 231);
    height: 80px;
}

.colums {
    height: 100%;
}

.colums::after {
    content: "";
    display: block;
    clear: both;
}

.left, .middle, .right {
    float: left;
    height: calc(100% - 120px);
    background-color: rgb(171, 207, 231);
}

.left, .right {
    width: 20%;
    margin: 20px 0px;
}

.middle {
    width: calc(60% - 40px);
    margin: 20px 20px;
}

.credits {
    margin-top: 15px;
    height: 70px;
    background-color: rgb(136, 1, 254);
}