/* stile di base della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame {
    width: 1280px;
    height: 100vh;
    margin: 20px auto;
}

/* header */
.banner {
    background-color: rgb(229, 121, 230);
    width: 100%;
    height: 160px;
}

.img {
    background-color: rgb(225, 214, 122);
    width: 100%;
    height: 440px;
    margin-top: 30px;
}

/* main */
.article {
    content: "";
    display: block;
    clear: both;
    margin-top: 30px;
    background-color: rgb(1, 134, 255);
    width: 100%;
    height: 600px;
}

.top {
    background-color: rgb(171, 207, 231);
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.left {
    height: calc(100% - 120px);
    width: 20%;
    background-color: rgb(171, 207, 231);
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.middle {
    height: calc(100% - 120px);
    width: calc(60% - 40px);
    background-color: rgb(171, 207, 231);
    margin-bottom: 20px;
    float: left;
}

.right {
    height: calc(100% - 120px);
    width: 20%;
    background-color: rgb(171, 207, 231);
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
}

.credits {
    margin-top: 15px;
    height: 70px;
    width: 100%;
    background-color: rgb(136, 1, 254);
}